@import "~react-image-gallery/styles/css/image-gallery.css";

:root {
  --mainRadius: 10px;
  --lightGreen: #009d2c;
  --fonstSiza: 14px;
  --shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.25);
  --swiper-navigation-size: 44px;
}
.navbar-nav .nav-item{
  border-left: 1px solid #ffffff82;
  height: 38px;
  line-height: 31px;
  text-align: center;
  margin: auto;
  text-align: center;
  transition: 0.3s;
}
.navbar-nav .nav-item a {
  padding: 0 30px 0px 30px !important;

}
.navbar-nav .nav-item:hover{
  background-color: #0573f6;
}
.App {
  background: #ffffff;
}
* {
  font-size: 14px;
  font-weight: 500;
}

.shadow{
  box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.25);
}
.rounded-max{
  border-radius: 10px !important;

}
.Social svg {
  fill: #c5c1c1;
}
.Social svg {
  width: 25px;
  height: 25px;
}
a {
  outline: none !important;
  text-decoration: none !important;
  position: relative;
  color: inherit;
}
a:hover{
  color: inherit;

}
.footer a {
  color: white !important;
}
.shadow {
  box-shadow: var(--shadow);
}
.RoutLink a::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 10px;
  background-color: #c5c1c1;
  bottom: 4px;
  right: -30px;
}
.fsmain {
  font-size: var(--fonstSiza);
  font-weight: 500;
}
.rounded {
  border-radius: var(--mainRadius) !important;
}
.main {
  background: #ffffff;
  box-shadow: var(--shadow);
  border-radius: var(--mainRadius);
}
.lightGreen {
  color: var(--lightGreen);
}
.badge {
  top: 1rem;
  left: 2rem;
  width: 40%;
}
.mostRedCount {
  position: relative;
}
.mostRedCount::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #c5c1c1;
  bottom: 0px;
  left: 5px;
}

.bgOrang {
  background-color: #e68735 !important;
}
.titel-match{
  font-size: 0.7rem;
}
.sliderAfter::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #c5c1c152;
  bottom: 1px;
  right: -5px;
}
.custom-btn {
  background: #ffffff !important;
  box-shadow: var(--shadow) !important;
  border-radius: 5px !important;
  color: #687085 !important;
  outline: none !important;
}

.swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, -3px) !important;
  background: #0573f6;
  top: 22px !important;
  height: 100%;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
  color: white !important;
}
.swiper-button-next {
  width: calc(var(--swiper-navigation-size) / 20 * 13) !important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px !important;
}
.swiper-button-prev {
  width: calc(var(--swiper-navigation-size) / 20 * 13) !important;
}
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 0px) !important;
  background: #0573f6;
  top: 22px !important;
  height: 100%;
}
.ButtonGroups .btn:hover {
  color: white !important;
  background-color: #0573f6 !important;
}
.inputGroup {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 85%;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.formControl {
  display: block;
  width: 75%;
  padding: 0.6rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  border: 0;
  outline: none;

  appearance: none;
}
.inputGroupText {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #0573f6;
  border-radius: 0.375rem;
  color: #ffffff;

}
@media (max-width:990px) {
  .coustom-sidebar{
    display: block !important;
    background-color: #1e1e1e;
    width: 106%;
    position: absolute;
    /* height: 100vh; */
    z-index: 12;
    top: -105px;
    left: -11px;
    /* right: 0; */
    padding: 0;
  }
  .logo{
    width: 100%;
  }
  
  .logo + div{
    width: 100% !important;

    margin: 0 !important;
  }
  div.inputGroup  {
    
    margin: 0 !important;
    width: 100%;
  }
  .bg-dc .main-bar{
    gap: 0 !important;
    margin-bottom: 5px;
  }
  .all-matches-btn{
    display: none !important; 
  }
  .ButtonGroups{
    width: 100% !important;
  }
  .offcanvas {
  background-color: #1e1e1e;
  
  width: 50% !important;

  }
  .offcanvas-body > ul{
  padding: 0;
  }
  .offcanvas-body > ul li {
    margin: 5px  0px !important;
    width: 100%;
    background: #302d2d;
    }
    .offcanvas-body > ul li a {
      padding: 5px 10px !important;
      }
  .offcanvas-body  .navbar-nav{
    margin: 0 !important;
    width: 100%;
  }
  .navbar-nav .nav-item{
    border-left: 0px solid #ffffff82;
  }
  .first_image , .second_image{
    width: 30px;
  }
  .game_time{
    transform: translateY(4px) !important;
  }
}
@media (min-width:990px) {
  .all-matches-btn-coustom{
    display: none !important;
  }
  
}
.img-card-bost {
  /* width: 237px; */
  height: 180px;
  border-radius: 5px;
}
.card-body{
  padding-bottom: 0px;
}
.card{
  overflow: hidden;
}

.card img{
  filter: brightness(0.8);
  transition: 0.5s;
  transform:  scale(1) ;
}
.card img:hover{
  filter: brightness(1);
  transform: rotate(0.5deg) scale(1.1);

}


.table {
  border-collapse: collapse;
  width: 100%;
}

.table td,
.table th {
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: whitesmoke;
}

.table tr:hover {
  background-color: #ddd;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: right;
  background: linear-gradient(180deg, #1e1e1e 0%, rgba(30, 30, 30, 0.85) 100%);
  color: white;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
  pointer-events:inherit !important
}
.swiper-pagination-bullet-active{
  width: 32px !important;
  border-radius: 19px !important;
  transition: 0.3s !important;
}

.nav-tabs{
  background: #1e1e1e;
  margin: auto;
  text-align: center;
  justify-content: center;
  border-radius: 0 0 5px 5px;

}
.nav-tabs .nav-link{
  color: white;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  background: transparent;
  border: rebeccapurple;
  color: #0573f6;
}

.img-baner{
  top: 18px;
  left: 38%;
  text-align: center;
  color: white;
}
.img-player{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 17px;
}
.main-custom-navbar{
  background-color: #1e1e1e;
    height: 100vh;
    overflow: scroll;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.main-custom-navbar .nav-pills .nav-link{
font-size: 12px;
}
.main-custom-navbar  .nav-pills  .nav-link{
  border-radius: 0;
padding: 8px 5px !important;
}
.main-custom-navbar  .nav-pills .nav-link.active{
  color: var(--bs-nav-pills-link-active-color);
  background-color: transparent;
  border-radius: 0;
  position: relative;
}
.main-custom-navbar  .nav-pills .nav-link.active::before{
  content: '';
  position: absolute;
  top: 14px;
  left: 0;
  border-width: 10px;
  border-style: solid;
  border-top-color: #252525;
  border-left-color: #333333;
  border-right-color: #252525;
  border-bottom-color: #252525;

}

.result-coustom-navbar{
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}
.img-icon-navbr{
  width: 15px;
  margin: 0 0px 0 9px;
}
.custom-btn{
  background: #ba7813 !important;
    border: 0  !important;
    border-radius: 5px  !important;
    color: white  !important;
}

@media (max-width:997px) {
  .card-custom-size{
    height: 100%;
    display: flex;
    flex-direction: revert;
    justify-content: space-between;
  }
  .card-custom-size img {
    height: 100px !important;
    width: 130px;
  }
  .card-custom-size .imgOverlay-cutom{
    display: flex !important;
    justify-content: start !important;
    color: black !important;
    font-size: 7px !important;
    padding: 5px;
    width: 58% !important;
    align-items: start !important;
    position: inherit;
  }
  .title-custom{
    color: #0573f6 !important;
    font-weight: bolder !important;
  }
  .title-date{
    color: #696f749e;
  }
  .card-custom-size .imgOverlay-cutom .card-title{
    font-size: 14px !important;
    text-align: start;
  }
  .matches-custom{
    flex-direction: column-reverse;
    justify-content: center !important;
    align-items: center !important
  }
  .matches-custom img{
    width: 75% !important;
  }
  .bigPos{
    padding: 0!important;
  }
  .bigPos .card-custom-size{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .bigPos .card-custom-size img{
    width: 100%;
    
    height: 214px !important;

  }
  .bigPos  .card-custom-size .imgOverlay-cutom{
    width: 100% !important;
    align-items: start !important;
  }
  .Social svg{
    width: 22px;
  }
}


.navbar-toggler-icon{
  background-image:url('./assets/menu-bar.png')
}
.matches .swiper-slide, swiper-slide {

  background: #ececed;
  color: black;
  text-align: center;
  /* margin: 0 26px 0px 0px; */
    height: 50px !important;
  width: 50px !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.matches .swiper-slide.swiper-slide-active:first-child{
  margin: 0 26px 0px 0px;
}
.legues-egyption{
  background: #212529;
    padding: 5px 10px;
    border-radius: 8px;
    color: white;

}

.legues-details .swiper-slide.swiper-slide-active{
  margin: 0 26px 0px 0px;

}
.score-person{
  width: 50px;
    height: 50px;
    border-radius: 50%;
}
.team_image{
  width: 20px;
  height: 20px;
}

.image-gallery-slides{
  border-radius: 10px;
}
.image-gallery-thumbnail.active, .image-gallery-thumbnail:focus{
  border-radius: 10px;
}
.image-gallery-thumbnail .image-gallery-thumbnail-image{
  border-radius: 6px;
}
.details-match{
  background: linear-gradient(to bottom,#444,#313131,#111);
  color: white;
}
.details-match small {
  color: rgba(255,255,255,.5);
}
.swiper.swiper-initialized.swiper-horizontal.swiper-rtl.swiper-backface-hidden.d-flex.w-100.align-items-center.justify-content-between.p-3{
  padding: 30px 0 !important;
}
.img-dataClub{

  /* margin: auto; */
  text-align: center;
  background-color: white;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2 !important;
}
.img-dataClub-two{
text-align: center;
  margin: auto;
}
.img-dataClub-two h2 {
  background-color: white;
  padding: 2px 1px;
  border-radius: 3px;
  font-size: 13px;
  margin: 10px auto;
  text-align: center;
}
.img-dataClub-two img {
  border-radius: 50%;
}
.img-dataClub h2 {
  background-color: white;
  padding: 2px 1px;
  border-radius: 3px;
  font-size: 13px;
  margin: 10px auto;
  text-align: center;
}
.img-dataClub-three{

  width: 56%;
}
.img-dataClub-three p{
  color: white;

}
.details-club{
  position: relative;
  overflow: hidden;
}
.details-club::before {
  content: "";
  position: absolute;
  top: 0;
  right: -68px;
  background-color: red;
  width: 74%;
  height: 100%;
  transform: skewX(-34deg);
}

.details-club::after{
  content: "";
  position: absolute;
  top: 0;
  right: 68%;
  background-color: white;
  width: 1%;
  height: 100%;
  transform: skewX(-34deg);
}

@media (max-width:770px) {
  .details-club::before{
    width: 100%;
    height: 50%;
    top: 100px;
    right: 0;
    transform: skewX(0);
  }
  .details-club::after{
    width: 100%;
    height: 4px;
    right: 0;
    
    top: 48%;

    transform: skewX(8deg);
    z-index: 1; 

  }
  .img-dataClub{
    margin: auto;
    width: 100px;
    height: 100px;
  }
  .img-dataClub img {
    height: 100px;
  }
  .details-club h2{
  text-align: center;
  margin: auto;
  color: white;
  }
  .img-dataClub-three{
    width: 100%  !important;
  }
}