html:lang(ar) {
  background-color: #e8eff5;
}

.bg-dc {
  background-color: #1e1e1e;
  position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    right: 0;
}
.bg-m {
  background-color: #0573f6 !important;
}
html:lang(ar) #basic-addon1 {
  left: -1px;
  bottom: 0;
  position: absolute;
  height: 38px;
  z-index: 1;
}
.text-header {
  color: white;
}
.logo {
  justify-content: center;
}
@media (max-width: 763px) {
  nav.navbar {
    position: absolute;
    top: 16px;

    
  }
  .logo {
    justify-content: end !important;
  }
  ul.navbar-nav {
    margin: 0 !important;
  }
  ul.navbar-nav a {
    color: black !important;
  }
}

.subMenu {
  border-bottom: 0.5px solid rgba(105, 103, 103, 0.374) !important;
}
.subMenu:last-child {
  border-bottom: 0 !important;
}
.subMenu:hover {
  background-color: rgba(158, 154, 154, 0.236) !important;
}
.subMenu a:hover {
  color: rgb(105, 103, 103);
}

@media (max-width: 990px) {
  .ulSubMenu {
    position: absolute !important;
    top: 2% !important;
    right: 97% !important;
  }
  .offcanvas-body {
    overflow-y: visible !important;
  }

  .ulSubMenu :nth-child(1) {
    position: relative;
  }
  .ulSubMenu :nth-child(1) :after,
  .ulSubMenu :nth-child(1) :before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .subMenu:nth-child(1) :after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: white;
    border-width: 18px;
    margin-top: -17px;
  }
}

@media (max-width: 990px) {
  .offcanvas-body button {
    margin: 5px 0px !important;
    width: 100% !important;
    background: #302d2d !important;
    border-radius: 0;
    /* border-left: 1px solid #ffffff82 !important; */
    padding: 0 0px 0px 20px;
  }
}
.navbar-toggler-icon {
  background-image: url("../public/images/icons8-menu-rounded-50.png") !important;
}